.btn {
  background-color: rgba(21, 166, 166, 0.2);
  color: #398b93;
}

.student-image {
  height: 50px;
  width: 50px;
  object-fit: contain;
}

.table-users {
  border: 1px solid #459299;
  border-radius: 10px;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
  margin: 1em auto;
  overflow: hidden;
  width: 100%;
}

td,
th {
  color: #398b93;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}

th {
  background-color: rgba(21, 166, 166, 0.2);
}

tr:nth-child(2n) {
  background-color: white;
}
tr:nth-child(2n + 1) {
  background-color: rgba(21, 166, 166, 0.2);
}
